*{
    padding: 0;
    margin: 0;
}
h1, h2,section {
    background-color: antiquewhite;
}
h1{
    font-size: 64px;
    color: blue;
}
h2{
    font-size: 32px;
    color: black;
}
p{
    font-size: 14px;
    color: black;
}